@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos customizados que usamos antes */
input[type="text"],
input[type="number"],
textarea {
  @apply border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 rounded-lg transition;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}